.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.circle-interior {  
    margin: 1px;
    border-radius: 50px;
    width: 48px;
    height: 48px;
}
.circle-color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50px;
}

.select {
    background-color: red;
}

.box-sizes {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
    border: 1px black solid;
}
.category-with {
    width: 100px;
}

.select-option {
    background-color: red;
    color: white;
    border: none;
}