p {
  margin: 0;
}

.bg-gray {
  background-color: rgb(241, 241, 241);
}
.bg-red {
  background-color: red;
}

.card {
  --bs-card-border-width: none;
}

.icon-card-heart{
  font-size: larger;
}
.like {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(43, 42, 42);
    background: #fff;
    z-index: 100;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado-3{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 8px 10px;
}

.cursor {
  cursor: pointer;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
